In [1]:
import pandas as pd

In [2]:
label_escola = ['CO_UF',
                'CO_MESORREGIAO',
                'CO_MUNICIPIO',
                'CO_ENTIDADE',
                'TP_DEPENDENCIA',
                'TP_LOCALIZACAO',
                'TP_OCUPACAO_PREDIO_ESCOLAR',
                'IN_ESGOTO_INEXISTENTE',
                'IN_LIXO_SERVICO_COLETA',
                'IN_BANHEIRO',
                'IN_REFEITORIO',
                'QT_SALAS_EXISTENTES',
                'QT_SALAS_UTILIZADAS_DENTRO',
                'IN_DESKTOP_ALUNO',
                'QT_DESKTOP_ALUNO',
                'IN_COMP_PORTATIL_ALUNO',
                'QT_COMP_PORTATIL_ALUNO',
                'IN_TABLET_ALUNO',
                'QT_TABLET_ALUNO',
                'QT_COMPUTADOR',
                'QT_COMP_ADMINISTRATIVO',
                'IN_INTERNET',
                'IN_INTERNET_ALUNOS',
                'QT_MAT_MED',
                'QT_MAT_MED_INT']

In [3]:
id = 20

# Ler dados

In [4]:
escolas = pd.read_csv('D:dataset/censo_escolar/microdados_censo_escolar_20{}/20{}/dados/microdados_ed_basica_20{}.csv'.format(id, id, id), sep=';', usecols=label_escola, encoding = "ISO-8859-1")

# Selecionar estado

In [36]:
escolas  = escolas[(escolas['CO_UF'] == 15)]

# Plot data

In [5]:
escolas.head()

,CO_UF,CO_MUNICIPIO,CO_MESORREGIAO,CO_ENTIDADE,TP_DEPENDENCIA,TP_LOCALIZACAO,TP_OCUPACAO_PREDIO_ESCOLAR,IN_ESGOTO_INEXISTENTE,IN_LIXO_SERVICO_COLETA,IN_BANHEIRO,...,IN_COMP_PORTATIL_ALUNO,QT_COMP_PORTATIL_ALUNO,IN_TABLET_ALUNO,QT_TABLET_ALUNO,QT_COMPUTADOR,QT_COMP_ADMINISTRATIVO,IN_INTERNET,IN_INTERNET_ALUNOS,QT_MAT_MED,QT_MAT_MED_INT
0,11,1100015,1102,11022558,2,2,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0
1,11,1100015,1102,11024275,2,1,1.0,0.0,1.0,1.0,...,1.0,4.0,0.0,0.0,NaN,NaN,1.0,1.0,0.0,0.0
2,11,1100015,1102,11024291,3,2,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0
3,11,1100015,1102,11024372,3,1,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,NaN,NaN,1.0,0.0,0.0,0.0
4,11,1100015,1102,11024402,3,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Selecionar ensino mÃ©dio

In [6]:
df = escolas[escolas['QT_MAT_MED'] > 0.0]

# Mapear os dados

In [39]:
df['TP_DEPENDENCIA'] = df['TP_DEPENDENCIA'].map({1: 'Publica',
                                               2: 'Publica',
                                               3: 'Publica',
                                               4: 'Privada'})

C:\Users\sandi\AppData\Local\Temp\ipykernel_1332\2822825335.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TP_DEPENDENCIA'] = df['TP_DEPENDENCIA'].map({1: 'Publica',

In [40]:
df.to_csv('../analise-fatorial/data/cedu-20{}.csv'.format(id), sep=';', index=False)