In [1]:
import pandas as pd

In [2]:
dat = pd.read_csv('data/enem_tp_adm.csv', sep=',')

In [3]:
df_x = dat[dat['Ano'] == 2019]
df_y = dat[dat['Ano'] == 2020]
df_z = dat[dat['Ano'] == 2021]

In [33]:
dat.head()

    Ano  CO_UF_PROVA  TP_ADM_GERAL  TP_ADM_PUBLICA  TP_ADM_PRIVADA
0  2019           11         58639           57996             643
1  2019           12         38645           38306             339
2  2019           13        118144          116551            1593
3  2019           14         12956           12734             222
4  2019           15        279593          273250            6343

In [32]:
d = pd.DataFrame()

d['CO_UF_PROVA'] = df_x['CO_UF_PROVA']
d['VARIACAO_2019_2020'] = ((df_y['TP_ADM_GERAL'].values * 100) / df_x['TP_ADM_GERAL'].values) - 100
d['VARIACAO_2019_2021'] = ((df_z['TP_ADM_GERAL'].values * 100) / df_x['TP_ADM_GERAL'].values) - 100
d.to_csv('data/variacao_inscritos_enem_2019_a_2021.csv', sep=',', index=False)

In [34]:
d = pd.DataFrame()

d['CO_UF_PROVA'] = df_x['CO_UF_PROVA']
d['VARIACAO_2019_2020'] = ((df_y['TP_ADM_PUBLICA'].values * 100) / df_x['TP_ADM_PUBLICA'].values) - 100
d['VARIACAO_2019_2021'] = ((df_z['TP_ADM_PUBLICA'].values * 100) / df_x['TP_ADM_PUBLICA'].values) - 100
d.to_csv('data/variacao_inscritos_enem_publica_2019_a_2021.csv', sep=',', index=False)

In [35]:
d = pd.DataFrame()

d['CO_UF_PROVA'] = df_x['CO_UF_PROVA']
d['VARIACAO_2019_2020'] = ((df_y['TP_ADM_PRIVADA'].values * 100) / df_x['TP_ADM_PRIVADA'].values) - 100
d['VARIACAO_2019_2021'] = ((df_z['TP_ADM_PRIVADA'].values * 100) / df_x['TP_ADM_PRIVADA'].values) - 100
d.to_csv('data/variacao_inscritos_enem_privada_2019_a_2021.csv', sep=',', index=False)